/*
################################################################
#SoE: Website
#Copyright © 2024 Allison Munn
#FULL COPYRIGHT NOTICE IS IN README
################################################################
*/

a {
    color: #BE913C;
    text-decoration: none !important;
}

a:visited {
  color: #9A6F1C;
}

a:hover {
  color: #FFDC98;
}

a:active {
  color: #FFE9C1;
}
