body {
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  color: white;
  background-color: #8B655E;
  background-image: url("/SuitesOfEuston/img/background-brick.png");
  background-attachment: fixed;
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}
