/*
################################################################
#SoE: Website
#Copyright © 2024 Allison Munn
#FULL COPYRIGHT NOTICE IS IN README
################################################################
*/

@media only screen and (max-width: 428px) and (min-width: 214px) {
  div.card {
    width: calc(100% - 16px - 24px);
  }
}

@media only screen and (max-width: 444px) and (min-width: 429px) {
  div.card {
    width: calc(100% - 16px - 24px);
  }
}

@media only screen and (max-width: 926px) and (min-width: 445px) {
  div.card {
    width: calc(50% - 16px - 24px - 10px);
  }
}

@media only screen and (min-width: 927px) {
  div.card {
    width: calc(50% - 16px - 24px);
  }

  div.card.card-tiny {
    width: round(down, calc(16.499% - 16px - 24px), 1px);
  }

  div.card.card-small {
    width: round(down, calc(32.999% - 16px - 24px), 1px);
  }

  div.card.card-medium {
    width: round(down, calc(49.500% - 16px - 24px), 1px);
  }

  div.card.card-large {
    width: round(down, calc(65.999% - 16px - 24px), 1px);
  }

  div.card.card-huge {
    width: round(down, calc(82.499% - 16px - 24px), 1px);
  }
}

div.card.card-height-short {
  height: 214px;
}

div.card.card-height-medium {
  height: 428px;
}

div.card.card-height-tall {
  height: 642px;
}

div.card {
  display: inline-block;
  vertical-align: top;
  height: 214px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 12px;
  padding: 12px;
  color: #E1B664;
  background-color: #0C1321;
}

div.card > div.card-title {
  width: parent;
  height: 32px;
  margin-top: 8px;
  line-height: 1;
  font-size: 32px;
}

div.card > div.card-title + div.card-title-sub {
  width: parent;
  height: 12px;
  margin-top: 8px;
  line-height: 1;
  font-size: 12px;
}

div.card > div.card-content {
  width: parent;
  height: calc(100% - 8px - 32px - 8px - 10px - 8px - 40px);
  margin-top: 8px;
  padding-top: 40px;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: scroll;
}

div.card > div.card-content > img.card-picture {
  width: parent;
  height: calc(100%);
  overflow-x: hidden;
  overflow-y: hidden;
  background-attachment: center;
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
