#header {
  width: 100%;
  height: 48px;
  display: block;
  margin: 0px;
  color: #E1B664;
  background-color: #050A14;
}

#header-logo {
  width: 48px;
  height: 48px;
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
  vertical-align: middle;
}

#header-logo-text {
  width: auto;
  height: 48px;
  display: inline-block;
  vertical-align: middle;
}
