img.img-room-01 {
  background-image: url(/SuitesOfEurson/img/room-01.jpeg);
}

img.img-room-02 {
  background-image: url(/SuitesOfEurson/img/room-02.jpeg);
}

img.img-room-03 {
  background-image: url(/SuitesOfEurson/img/room-03.jpeg);
}

img.img-room-04 {
  background-image: url(/SuitesOfEurson/img/room-04.jpeg);
}

img.img-room-05 {
  background-image: url(/SuitesOfEurson/img/room-05.jpeg);
}

img.img-room-06 {
  background-image: url(/SuitesOfEurson/img/room-06.jpeg);
}

img.img-room-07 {
  background-image: url(/SuitesOfEurson/img/room-07.jpeg);
}

img.img-room-08 {
  background-image: url(/SuitesOfEurson/img/room-08.jpeg);
}

img.img-room-09 {
  background-image: url(/SuitesOfEurson/img/room-09.jpeg);
}

img.img-room-10 {
  background-image: url(/SuitesOfEurson/img/room-10.jpeg);
}

img.img-room-11 {
  background-image: url(/SuitesOfEurson/img/room-11.jpeg);
}

img.img-room-12 {
  background-image: url(/SuitesOfEurson/img/room-12.jpeg);
}
